body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightslategray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#btn1{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(243, 9, 9);
  font-size: 15px;
}
#btn1:hover{
  color: rgb(179, 63, 63);
}
#clear button:hover{
  background-color: transparent;
  cursor: pointer;
}